{% extends 'default.twig' %}

{% block content %}
{% include 'collection-header.twig' %}
{% include 'product-grid.twig' %}
<aside class="filters">
  <h3>الفلاتر</h3>
  <label>
    <input type="checkbox" data-filter="under-100"> أقل من 100 ريال
  </label>
  <label>
    <input type="checkbox" data-filter="100-300"> من 100 إلى 300 ريال
  </label>
</aside>
{% endblock %}